<template>
	<div class="termsandconditions">
		<loader v-if="loading"></loader>
		<section class="shape-bg">
			<div class="container">
				<h1>Terms And Condition</h1>
			</div>
		</section>
		<!-- end -->

		<!-- main Content -->
		<section class="main-content">
			<div class="container">
				<h2>{{ termsandconditions_data.title }}</h2>
				<p v-html="termsandconditions_data.description"></p>
			</div>
		</section>
	</div>
</template>
<script>
	import { HTTP } from '../../_helper/http-constants.js'
	export default {
		name: "TermsAndConditions",
		data() {
			return {
				logo: null,
				termsandconditions_data: null,
				loading: false
			}
		},
		methods: {
			getTermsAndConditionsData() {
				this.loading = true;
				HTTP.get('/cms').then(res => {
					if (res.data.status === 200) {
						this.termsandconditions_data = res.data.termsandconditions_data[0];
						this.loading = false;
					}else{
						this.loading = false;
					}
				})
				.catch(err => {
					this.loading = false;
					console.log(err)
				});
			}
		},
		created() {
			this.getTermsAndConditionsData();
		}
	}
</script>