@media (max-width:767px) and (min-width:320px) {
    body #banner-slider img {
        height: 100% !important;
        min-height: 200px;
    }
    .theme-dark{
        position: relative !important;
    }
    .top-spacing{
        padding-top: 1px !important;
    }
    .musiccategory {
        width: 80%;
        margin: 0px auto;
    }
    .allmusiccategory {
        width: 80%;
        margin: 0px auto;
    }
    .category-title:before{
        display:none;
    }
    .mobile-icon{
        margin-left: 2px;
    }
    body .greay-box {
        min-height: 100%;
        padding: 15px 15px 0px;
        max-width: 100%;
    }
    body .same-space {
        padding: 101px 0px 40px;
    }
    body .grren-box {
        display: none;
    }
    body .greay-box img {
        max-width: 100%;
        max-height: 100%;
        height: 100%;
    }
    body .contact-us .content-wrapper {
        padding: 0px 0px 30px;
    }
    body .pattern {
        display: none;
    }
    body .white-box {
        display: none;
    }
    body .greay-box:before {
        display: none;
    }
    .theater_container {
        width: 100%;
        padding: 0px !important;
        background-color: black;
        border-radius: 20px;
        margin: 0px !important;
    }
    body .title-section {
        padding: 30px 0px 0px !important;
        font-size: 22px !important;
    }
    body .contact-us .contact-us-wrapper {
        padding: 15px;
    }
    body .contact-us .greay-box {
        min-height: auto;
    }
    .contact-us-wrapper {
        padding: 15px;
    }
    .contact-us .greay-box {
        min-height: auto;
    }
    body .green-btn {
        padding: 10px 15px !important;
        font-size: 15px;
    }
    body .subscribe-btn input {
        padding: 5px 15px;
    }
    body .subscribe-btn input::placeholder {
        font-size: 12px;
    }
    body .footer-data-wrapper p {
        padding: 0px;
        font-size: 15px;
    }
    body .footer-data-wrapper h5 {
        margin-top: 30px;
        padding: 0px !important;
    }
    body .backtotop {
        right: 10px;
        bottom: 10px;
    }
    body .footer-data-wrapper {
        padding: 10px 0px;
    }
    body .content-wrapper {
        padding: 0px;
    }
    body .contact-us-wrapper h5 {
        font-size: 40px;
        margin-bottom: 30px;
    }
    body section.video-section {
        height: auto;
    }
    body .video-section img {
        max-height: 210px;
    }
    body .banner-slider .owl-dots {
        bottom: 20px;
    }
    #banner-slider button.owl-prev,
    #banner-slider button.owl-next {
        width: 30px;
        height: 30px;
    }
    .theme-dark .row {
        flex-wrap: inherit;
    }
    .theme-dark .row .nav-link.header-link {
        display: none;
    }
    .theme-dark .mobile-btn {
        display: flex;
        gap: 10px;
    }
    .theme-dark .mobile-menu.active .siderbar-mobile {
        width: 70%;
    }
    .product-item.pt-5.pb-3.pl-3.mb-4 {
        padding: 30px 15px !important;
    }
    body table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
    body span.item-img img {
        max-width: 40px !important;
        height: 40px !important;
    }
    body .Check-out h6 {
        color: #1E1E20;
        padding-bottom: 20px;
    }
    body .Green-modal .modal-dialog .modal-content {
        margin: 20px;
    }
    .Green-modal .modal-dialog .modal-body {
        padding: 10px 0px;
    }
    .wrapper-class .main-grey {
        padding: 50px 0px !important;
    }
    .wrapper-class .main-grey form {
        max-width: 90%;
    }
    .wrapper-class .main-grey form .frorgot-text {
        margin: 0px;
    }
    body .gride-container {
        grid-template-columns: 1fr 1fr;
        padding: 30px 0px;
    }
    body .fav-song .same-space,
    body .playlist .same-space,
    body .playlist-song .same-space,
    body .my-order .same-space {
        margin: 0px !important;
        padding: 0px 0px 50px 0px !important;
    }
    body .fav-song .same-space .main-heading,
    body .playlist .same-space .main-heading,
    body .playlist-song .same-space .main-heading,
    body .my-order .same-space .main-heading {
        padding: 0px !important;
    }
    body .fav-song .same-space .main-heading .title-section,
    body .playlist .same-space .main-heading .title-section,
    body .playlist-song .same-space .main-heading .title-section,
    body .my-order .same-space .main-heading .title-section {
        font-size: 30px !important;
        padding: 20px 0px !important;
        text-align: center;
    }
    body .product-content-banner {
        order: 1;
        max-width: 100%;
    }
    body .product-content-banner h1 {
        font-size: 40px !important;
        padding-bottom: 20px !important;
    }
    body .product-banner .col-sm-12.col-lg-8 {
        order: 2;
    }
    body .main-white-bg {
        text-align: center;
    }
    body .order-table table {
        padding: 0px;
    }
    body .checkout-page form {
        display: block;
    }
    .VueCarousel-navigation button.VueCarousel-navigation-button.VueCarousel-navigation-prev {
        left: 10px !important;
        top: 50% !important;
        margin-top: -20px !important;
    }
    .VueCarousel-navigation button.VueCarousel-navigation-button.VueCarousel-navigation-next
    {
        right: 10px !important;
        top: 50% !important;
        margin-top: -20px !important;
    }
    body .VueCarousel-pagination {
        position: absolute;
        bottom: 5px;
    }
    pjsdiv#player_control_volume-sikbar {
        display: none;
    }
    
    pjsdiv#player_control_volume-icon {
        display: none;
    }
    
    pjsdiv#player_control_suffle-icon {
        display: none;
    }
    
    pjsdiv#player_control_repeat-icon {
        display: none;
    }
    
    pjsdiv#player_control_next-icon {
        left: 80% !important;
    }
    
    pjsdiv#player_control_privacy-icon {
        left: 60% !important;
    }
    
    pjsdiv#player_control_play-icon {
        left: 70% !important;
    }
    #oframeplayer pjsdiv:nth-child(10) {
        top: 0 !important;
    }
    #oframeplayer pjsdiv#player_control_play-icon {
        top: 25px !important;
    }
    div#player {
        width: 82% !important;
    }
    pjsdiv#player_control_song-info_text {
        top: -15px !important;
        left: -24px !important;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        max-width: 180px !important;
        white-space: unset !important;
    }
    
    pjsdiv#player_control_time {
        top: 35px !important;
        left: 32% !important;
    }

    #playlistSongModal .modal-content {
        margin: 10px;
    }
    
    #playlistSongModal .modal-content .song-poster img {
        max-width: 45px;
    }
    
    #playlistSongModal .modal-content .playlistsong-button a {padding: 10px 25px;color: #000 !important;opacity: 1;font-weight: 600;}
    
    #playlistSongModal  span.song-name {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        max-width: 100px;
    }
    body .nodata h1 {
        font-size: 15px;
    }
    body .nodata{
        max-width: 100%;
    }
    .live-video-wrapper video {
        object-fit: cover;
    }
    body .desc-live {
        padding: 20px 15px;
    }
    .live-video-wrapper iframe{
        height: 243px !important;
    }

    .model-open {
        background: black !important;
        position: fixed !important;
        width: 92% !important;
        z-index: 99999999 !important;
        padding: 25px !important;
        top: 100px !important;
        height: auto !important;
        overflow: hidden !important;
        left: 8px !important;
        margin-left: 0px !important;
    }
    .img_mdl {
        width: 100% !important;
        float: left !important;
    }
    .categories_listing .hover-box h6{
        font-size: 19px !important;
        
    }
    .img-radio{
        height: 860px !important;
        justify-content: center !important;
        padding-bottom: 0px !important;
    }
    .number-of {
        color: #fff;
        display: grid;
    }
    .desc_title {
        float: left !important;
        width: 99% !important;
        text-align: left !important;
        padding: 15px 20px !important;
    }
    .desc_title p.ptx{
        font-size: 12px !important;
        height: 70px !important;
        overflow: scroll !important;
    }
    .desc_title h6 {
        font-size: 14px !important;
    }
}