.theme-dark {
   
    width: 100%;
    z-index: 1111;
    transition: 0.2s;
    top: 0px;
    padding: 16px 0px;
}

.header.fixed {
    background: #1E1E20;
    position: fixed;
    box-shadow: 1px 1px 15px 3px #1E1E2091;
    border-bottom: 1px solid #7474754a;
    top: 0;
}

body, #app {
    font-family: 'Poppins', sans-serif !important;
    background-image:url("../images/bg.png");
    background-size:100% auto;
}

*,
ul,
h1,
h2,
h3,
h4,
h5,
p,
a,
span {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    color: #ffe050;
}
.nodata h1{
    color: white;
}
a:hover {
    color: #fff;
    text-decoration: none;
}

.active a {
    color: #84BA3E;
}

.display-center {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.wrapper-end-btn {
    display: flex;
    align-items: center;
}

.wrapper-end-btn span {
    margin-right: 15px;
}

.login-btn a {
    border: 0px;
    padding: 7px 25px;
    border-radius: 50px;
    font-size: 15px;
    color: #1E1E20;
    background: #ffffff;
    border: 2px solid transparent;
    transition: 0.2s all;
}

.btn-header:hover {
    /* background: transparent; */
    border: 2px solid #fff;
    box-shadow: 1px 1px 16px 6px #00000063;
}

button,
.btn-lg:focus {
    outline: 0px !important;
}

.nav-link.header-link,
.nav-link.header-link ul {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    padding: 0px;
}

.nodata.faicon_style i{
    color: #ffe050;
}

.header-link li a {
    margin-right: 15px;
    font-size: 12px;
    letter-spacing: 0.5px;
    color: #ffffff80;
    font-weight: 200;
}
.ptx{
    margin-top: 10px;
    font-size: 12px;
}
.gride-box{
    cursor: pointer;
}
.header-link li a:hover {
    color: #ffe050;
}

.header-link li.active a {
    color: #ffe050;
    font-weight: 500;
}

.logo img {
    max-width: 90px;
}


/* video section */

section.video-section {
    overflow: hidden;
}

section.video-section video {
    width: 100%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    /* object-fit: cover; */
    /* position: relative; */
}

section.video-section {
    position: relative;
    /* height: 90vh; */
    margin-top: 100px;
}


/* .video-section:before {
    content: '';
    background: #0000008f;
    width: 100%;
    height: 100%;
    position: absolute;
} */


/* banner slider */

section.banner-slider {
    overflow: hidden;
    margin-bottom: 50px;
}

.banner-slider .owl-nav {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    padding: 0px 30px;
}

.VueCarousel-navigation-prev,
.VueCarousel-navigation-next {
    color: #fff !important;
    width: 40px;
    height: 40px;
    background: #000000 !important;
    border-radius: 50px;
    font-size: 33px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-slider .owl-dots {
    position: absolute;
    width: 100%;
    bottom: 50px;
    display: flex;
    justify-content: center;
}
.banner-slider .owl-nav button.owl-prev span,
.owl-next span {
    line-height: 0;
    margin: 0px;
    font-weight: 100;
}

.slick-dots {
    position: relative;
    width: 100%;
    background: red;
    bottom: 50px;
    display: flex;
    justify-content: center;
}

#banner-slider .owl-dot {
    padding: 5px !important;
    background: #323232 !important;
    margin: 0px 5px;
    border-radius: 50%;
}

#banner-slider .owl-dot.active {
    background: #000000 !important;
    width: 20px;
    height: 4px;
    border-radius: 10px;
}

#banner-slider .item:before {
    content: '';
    position: absolute;
    background: #00000080;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div#banner-slider img {
    height: 100%;
    object-fit: cover;
}


/* about section */

.grren-box {
    width: 385px;
    background: #ffe050;
    height: 100%;
    position: absolute;
}

.same-space {
    padding: 150px 0px;
    position: relative;
}

.white-box {
    position: absolute;
    background: #fff;
    box-shadow: 1px 1px 20px 1px #1E1E2033;
    width: 100%;
    height: auto;
    padding: 110px 0px;
    bottom: -30px;
}

.greay-box {
    height: 100%;
    background: #1E1E20;
    width: 100%;
    max-width: 90%;
    margin: auto;
    position: relative;
    min-height: 524px;
    display: flex;
    align-items: flex-end;
    box-shadow: 1px 1px 20px 6px #2726268a;
}

.main-wrapper-box {
    position: relative;
}

section.about-sec {
    position: relative;
}

.greay-box img {
    max-width: 80%;
    max-height: 70%;
    margin-left: auto;
}

.greay-box:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    background: #ffe050;
    top: 0px;
    right: 0;
    margin-top: -23px;
    margin-right: -23px;
}

.title-section {
    font-weight: bold;
    font-size: 50px;
    color: #1E1E20;
    padding: 70px 0px 30px;
    text-align: left;
}

.p-content, .p-content p, .p-content span {
    font-size: 15px;
    color: #fff !important;
    font-weight: 400;
    line-height: 1.8;
    text-align: left;
}
.section-btn {
    padding: 10px 50px;
    border-radius: 50px;
    font-size: 15px;
    color: #1E1E20;
    background: #ffffffde;
    border: 0px;
    margin-top: 30px;
    transition: 0.2s all;
}
.theater_container{
    width: 100%;
    padding: 20px;
    background-color: black;
    border-radius: 20px;
    margin-left: 7px;
}

.section-btn:hover {
    color: #000;
        background: #ffffff;
    box-shadow: -1px 20px 11px 2px #524d4d0a;
}

.content-wrapper {
    padding-left: 40px;
    position: relative;
    text-align: left;
}
.pattern {
    position: absolute;
}

.pattern img {
    position: relative;
    top: -105px;
}


/* product-section */

.text-content {
    padding: 15px;
    width: 100%;
    position: absolute;
    background: #ffffffdb;
    z-index: 11;
    transition: 0.5s all;
    bottom: 0;
    cursor: pointer;
    text-align: left;
}

.wrapper-product-box img {
    width: 100%;
    height: 100%;
    object-fit: cover !important;
}

.wrapper-product-box {
    position: relative;
    margin-top: 30px;
    overflow: hidden;
    border-radius: 15px;
}

.text-content h6 {
    text-transform: capitalize;
    color: #000;
}

.text-content p {
    color: #000;
}

.add-to-cart,
.icon-only {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #fff;
    border-radius: 50px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    box-shadow: 1px 1px 20px 1px #1E1E2033;
    transition: 0.2s all;
    cursor: pointer;
    z-index: 111;
    overflow: hidden;
}

.add-to-cart i,
.icon-only i {
    color: #000;
    font-size: 14px;
}

.add-to-cart:hover,
.icon-only:hover,
.add-to-cart:hover i,
.icon-only:hover i {
    background: #c82323;
    color: #fff;
}

.main-heading .pattern img {
    position: relative;
    top: -30px;
    width: 80%;
}

.main-heading {
    position: relative;
}

.main-heading .pattern {
    right: 0;
}

.contact-us .grren-box {
    right: 0;
}

.contact-us .greay-box:before {
    left: 0;
    /* margin-top: -23px; */
    margin-left: -23px;
}

footer .contact-us-wrapper{
    align-items: flex-start;
}
.contact-us-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.contact-us-wrapper ul {
    list-style: none;
}

.contact-us-wrapper ul li a {
    padding: 20px 0px;
    display: flex;
    color: #fff;
    font-size: 18px;
    align-items: center;
}

.contact-us-wrapper ul li span {
    padding-right: 0px;
    display: flex;
    align-items: center;
    min-width: 30px;
    justify-content: center;
}

.contact-us-wrapper ul li span i {
    font-size: 25px;
}

i.fal.fa-phone-alt {
    transform: rotate( 90deg);
}

.contact-us {
    position: relative;
}

.contact-us .greay-box {
    align-items: center;
    min-height: 600px;
}

.contact-us-wrapper ul li a p {
    padding-left: 10px;
    font-weight: 200;
}

.contact-us-wrapper h5 {
    color: #fff;
    font-size: 60px;
    font-weight: 400;
    text-align: left;
}
.contact-us-wrapper li, .contact-us-wrapper li a, .contact-us-wrapper li span, .contact-us-wrapper li span i, .contact-us-wrapper li a, .contact-us-wrapper li p {
    color: #fff !important;
    font-weight: 300 !important;
    text-align: left;
}
.from-control {
    width: 100%;
    border: 0px;
    border-bottom: 1px solid #00000040;
    padding: 10px 10px;
    color: #000;
}
.model-open{
    background: black;
    position: fixed;
    width: 60%;
    z-index: 99999999;
    margin: opx auto !important;
    padding: 25px;
    top: 100px;
    height: auto;
    overflow: hidden;
    left: 50%;
    margin-left: -450px;
}
.overlay_black{
    background: black;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 999999;
    left: 0;
    top: 0;
    opacity: 0.5;
    display: none;
}
.img_mdl {
    width: 50%;
    float: left;
}
.desc_title {
    float: left;
    width: 49%;
    text-align: left;
    padding: 0px 20px;
}
.desc_title h6 {
    font-size: 26px;
}

.clsclick{
cursor: pointer;
    position: absolute;
    right: 0px;
    top: 1px;
    padding: 3px 10px;
    background: red;
    border-radius: 29px;
}
.from-control::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.from-control:focus {
    outline: 0px;
}

.form-group {
    margin: 30px 0px;
}

.contact-us .content-wrapper {
    padding: 0px 50px 0px 0px;
}

.contact-us .content-wrapper button {
    width: 100%;
    padding: 15px;
    background: #1E1E20;
    margin-top: 20px;
}


/* footer */

/*.bg-grey {
    background-image:url("../images/bg.png") !important;
}*/
.sponsorbanner.bg-grey{
    margin: 15px;
}

.footer-data-wrapper h5 {
    color: #ffe050;
    font-weight: 400;
    margin-bottom: 15px;
    font-size: 20px;
    text-align: left;
}

.footer-data-wrapper p {
    color: #fff;
    line-height: 1.8;
    font-size: 16px;
    padding-right: 30px;
    font-weight: 200;
    text-align: left;
}

.footer-data-wrapper .flex-ul {
    display: flex;
}

.Link-ul li {
    padding: 5px 0px;
    text-align: left;
}
.Link-ul li a {
    transition: 0.2s;
}
.Link-ul li a:hover {
    color: #ffffff;
    background: black;
    padding: 5px 10px;
}

.footer-data-wrapper {
    padding: 30px 0px;
}

span.icon {
    width: 30px;
    height: 30px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    cursor: pointer;
    margin: 0px 10px;
}

span.icon i {
    color: #000;
}

.social-media {
    display: flex;
    align-items: center;
}

.icon:nth-child(1) {
    margin-left: 0;
}

.icon:hover i {
    color: #fff;
}
.icon:hover {
    background: #ffe050;
    color: #fff !important;
}

.subscribe-btn input {
    width: 100%;
    padding: 15px 15px;
    background: #000;
    border: 0px;
    color: #fff !important;
}

.subscribe-btn .from-group {
    display: flex;
}

.green-btn {
    background: #ffffff;
    border: 0px;
    border-radius: 0px;
    padding: 10px 50px;
    font-size: 18px;
    letter-spacing: 2px;
    color: #000;
}

.subscribe-btn .from-control::placeholder {
    color: #fff;
}

.flex-ul img {
    max-width: 120px;
}


/* back to top */

.backtotop {
    position: fixed;
    width: 40px;
    height: 40px;
    background: #ffffff;
    bottom: 40px;
    right: 40px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 13px 12px #0000003b;
    z-index: 11;
    cursor: pointer;
    transition: background-color .3s;
    opacity: 0;
    visibility: hidden;
}

.backtotop.show {
    opacity: 1;
    visibility: visible;
}

.backtotop i {
    color: #000;
}

.copy-right {
    padding: 15px 0px;
    border-top: 1px solid #82828245;
}
.copy-right p{
    font-size: 12px;
}


/* privacy policy */

.shape-bg {
    background-image: url(../images/shape.png);
    padding: 220px 0px;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
}

.main-content h2 {
    color: #000;
    padding-bottom: 30px;
    font-size: 30px;
    font-weight: 600;
    text-align: left;
}

.main-content p, .main-content span {
    color: #000 !important;
    font-size: 13px;
    padding:0px 0px 15px 0px;
    line-height: 1.7;
    text-align: left;
    font-family: 'Poppins',sans-sarif !important;
}

.main-content {
    padding-bottom: 50px;
}


/* white text header */

.white-color a {
    COLOR: #fff !important;
}

.white-color .btn-header {
    background: #fff;
    color: #1E1E20 !important;
}


/* profile icon */

.profile-icon img {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    object-fit: cover;
}

.Profile-menu .dropdown-menu.show {
    right: -60px !important;
    left: unset !important;
    top: 30px !important;
    border-radius: 0px;
    box-shadow: 1px 1px 11px 9px #3a3737ba;
    border: 0px;
    max-width: 200px;
}

.Profile-menu .dropdown-menu .dropdown-item {
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    padding: 10px 1.5rem;
}

.Profile-menu .dropdown-menu:before,
.list-icon-drop .dropdown-content:before {
    content: '';
    background-image: url(../images/triangle.png);
    background-size: 100% 100%;
    position: absolute;
    right: 0;
    top: 0;
    padding: 50px;
    margin-top: -29px;
    margin-right: -29px;
}

.drop-icon {
    max-width: 25px;
    min-width: 25px;
    margin-right: 3px !important;
}

.Profile-menu .dropdown-menu .dropdown-item .drop-icon i {
    color: #707070;
    font-size: 18px;
}

.Profile-menu .dropdown-menu .dropdown-item span {
    color: #707070;
    margin: 0px;
    display: flex;
    align-items: center;
    transition: 0.2s all;
    font-weight: 300;
}

.Profile-menu .dropdown-menu .dropdown-item.active,
.Profile-menu .dropdown-menu .dropdown-item:hover {
    background: transparent;
}

.Profile-menu .dropdown-menu .dropdown-item:hover span,
.Profile-menu .dropdown-menu .dropdown-item:hover span i {
    color: #000 !important;
}

.Profile-menu .dropdown-menu .dropdown-item:hover::before {
    content: '';
    opacity: 1;
}

.Profile-menu .dropdown-menu .dropdown-item::before {
    content: '';
    background: #000;
    width: 10px;
    height: 35px;
    position: absolute;
    left: 0;
    opacity: 0;
    transition: 0.2s all;
}

.Profile-menu .dropdown-menu .dropdown-item:hover .drop-icon {
    margin-left: 5px;
}


/* music Category */

.category-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 50px;
}

.category-title:before {
    content: '';
    position: absolute;
    background: #fff;
    width: 82%;
    height: 1px;
    left: 116px;
}

.category-title h5 {
    padding: 0px 15px 0px 0px;
    background: transparent;
    position: relative;
}

.category-title p {
    padding: 0px 0px 0px 15px;
    background: transparent;
    position: relative;
}
.max_wid{
    max-width: 900px;
}
.search_design{
    position: relative;
    margin-top: 50px;
}
.search_design input,.search_design input:focus-visible{
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid !important;
    box-shadow: 0px;
    border: 0px;
    outline: 0px;
    font-size: 30px;
}
.search_design button{
    position: absolute;
    right: 0px;
    width: 100px;
    /* bottom: 0px; */
    bottom: 1px; 
    border-radius: 10px;
    height: 33px;
}
#app .btn-primary{
    color: #fff;
    background-color: #ffe050;
    border-color: #ffe050;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    margin: 0px 15px;
    opacity: 1;
}
.cate-box img,
.gride-box img {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 100%;
}

.cate-box {
    position: relative;
    border-radius: 60px;
    overflow: hidden;
    margin-bottom: 30px;
    cursor: pointer;
    z-index: 11;
}
.cate-box .hover-box{
    width: 60%;
    float: left;
}
i.fa {
    color: #ffffff80;
}
.active i.fa{
    color: #ffe050;
}
.hover-box {
    position: absolute;
    bottom: 0;
    padding: 15px;
    background: #0000;
    z-index: 111;
}

.bg_img .cate-box{
    background-color: #1b1d1d;
    background-repeat: repeat;
    background-size: auto 100%;
    display: flex;
    align-items: center;
    background-size: auto 130%;
}

.gride-content{
    background: transparent !important;
}

.allmusiccategory .hover-box{
    position: relative;
    float: left;
}
.categories_listing .hover-box h6{
    color: white;
    font-size: 26px;
    
}

.cate-box:before {
    content: '';
    position: absolute;
    
    width: 100%;
    height: 100%;
    z-index: 111;
    left: 0px;
}


/* image ratiob-set */

.stactic-img {
    position: relative;
    top: 0px;
    height: 100%;
}

.loader-static {
    position: relative;
}

.loader-dynamic {
    position: absolute;
    z-index: 11;
    height: 100%;
    width: 100%;
}

.allmusiccategory .categories_listing .loader-dynamic {
    position: relative;
  
    float: left;
}
.allmusiccategory .categories_listing .loader-static {
width: 40%;
float: left;
}



/* Top Songs */

.Top-song .main-heading .pattern img,
.fav-song .main-heading .pattern img,
.playlist-song .main-heading .pattern img,
.playlist .main-heading .pattern img {
    top: -50px;
    width: 75%;
}

.gride-box {
    border-radius: 10px;
    overflow: hidden;
    transition: 0.2s all;
    background-color: #222;
    background-size: auto 135%;
}

.gride-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.gride-box:hover {
    box-shadow: 8px 13px 14px 0px #00000029;
}

.gride-content {
    padding: 15px;
    text-align: left;
    background: #000;

}
.gride-content h6 {
    color: #ffe050;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
}

.gride-content p {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}


/* hover effect-play */

.hover-play {
    position: absolute;
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 0%;
    background: #ffe050ad;
    bottom: 0;
    opacity: 0;
    transition: 0.2s all;
    cursor: pointer;
}

.gride-box:hover .hover-play {
    opacity: 1;
    height: 100%;
}


/* list-drop */

.list-icon-drop {
    position: absolute;
    top: 10px;
    height: auto;
    z-index: 1111;
    right: 10px;
}

.list-icon-drop img {
    width: 65%;
}

.list-icon-drop .dropdown-content {
    right: 0px;
    left: unset !important;
    top: 40px !important;
    border: 0px;
    border-radius: 0px;
    min-width: 100px !important;
}

.list-icon-drop .dropdown-content a.dropdown-item {
    font-size: 12px;
    padding: 5px 20px;
    position: relative;
    z-index: 1;
    text-align: left;
}

.list-icon-drop .dropdown-content .dropdown-item:hover {
    background: #1E1E2085;
    color: #fff;
}

.list-icon-drop .dropdown-content:before {
    padding: 39px !important;
    margin-top: -23px !important;
    margin-right: -32px !important;
}


/* hover */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 10px 0px;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* white- back-ground */

.White-back nav.theme-dark.header {
    background: #1E1E20;
    border-bottom: 1px solid #ffffff14
}

.White-back .main-heading p {
    color: #000;
    font-size: 13px;
    text-align: left;
}

.playlist .hover-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: #ffffff80;
    bottom: 0;
    padding: 15px;
    width: 100%;
}

.playlist .wrapper-product-box:hover .text-content {
    height: 100%;
    opacity: 1;
    bottom: 0;
}

.playlist .text-content {
    height: 0px;
    /* bottom: 0%; */
    background: transparent;
    padding: 0px;
}

.playlist .text-content p {
    opacity: 0;
    line-height: 0;
    transition: 0.4s all;
}

.playlist .wrapper-product-box:hover .text-content p {
    display: block;
    opacity: 1;
    line-height: 1.5;
}


/* product-details */

.details-box img {
    width: 100%;
    height: 100%;
}

.details-box {
    position: relative;
    border-radius: 8px;
}

.fav-icon.icon-only {
    top: -15px;
    right: -15px;
    background: #1E1E20;
}

.fav-icon.icon-only i {
    color: #fff;
    background: transparent;
}

.fav-icon.icon-only:hover {
    background: #000000;
}

.product-details .title-section {
    padding: 0px;
    font-weight: 300;
    font-size: 60px;
}

.product-details p.Prise {
    color: #000;
    font-size: 22px;
    padding: 15px 0px;
}


/* increment decrement */

.quantity {
    align-items: center;
    padding: 0;
    display: flex;
    position: relative;
    width: 75px;
}

.quantity__minus,
.quantity__plus {
    display: block;
    width: 35px;
    height: 35px;
    margin: 0;
    background: #ffffff;
    text-decoration: none;
    text-align: center;
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50% !important;
    position: absolute;
}
.quantity__plus span, .quantity__minus span {
    color: #000;
    position: relative;
    top: 1px;
}
.quantity__minus:hover,
.quantity__plus:hover {
    background: #000;
    color: #fff;
}
.quantity__minus:hover span, .quantity__plus:hover span {
    color: #fff;
}
.quantity__minus {
    border-radius: 3px 0 0 3px;
}

.quantity__plus {
    border-radius: 0 3px 3px 0;
}
.productdetails a.section-btn.btn-lg {
    background: #1E1E20;
    color: #fff;
}
.quantity__input {
    max-width: 75px;
    height: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
    background: #1E1E20;
    color: #fff;
    border: 0px;
}

.quantity__plus {
    right: 0;
    margin-right: -17.5px;
}

.quantity__minus {
    left: 0;
    margin-left: -17.5px;
}

.quantity__minus:link,
.quantity__plus:link {
    color: #fff;
    box-shadow: 1px 1px 8px #17161661;
    font-size: 25px;
    font-weight: 300;
}

.quantity__minus:visited,
.quantity__plus:visited {
    color: #000;
}


/* product */

section.product-banner {
    background: #1E1E20;
    margin: 100px 0px 0px;
    position: relative;
    padding-bottom: 40px;
}

.product-content-banner h1,
.product-content-banner p {
    color: #ffff;
}

.shape-back img {
    width: 100%;
}

.shape-back {
    overflow: hidden;
    border-radius: 0px 0px 195px 195px;
    box-shadow: 1px 1px 19px 6px #00000082;
}

.product-content-banner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    max-width: 85%;
    padding: 15px 0px 0px;
}


/* modal */

.Green-modal .modal-dialog .modal-content {
    background: #ffe050;
    border: 0px;
    border-radius: 5px;
    position: relative;
    padding: 15px;
}

.modal-title h3 {
    font-size: 18px;
    font-weight: 300;
}

.modal-title {
    text-align: center;
}

.modal-title p {
    font-size: 12px;
    max-width: 370px;
    margin: 15px auto;
    font-weight: 300;
    letter-spacing: 0.5px;
}

.modal-form .from-control {
    font-size: 13px;
    border-radius: 50px;
    padding: 15px 20px;
    margin-bottom: 15px;
    background: #ffffff1c;
    border: 0px;
    color: #fff;
}

.modal-form .from-control::placeholder {
    color: #fff;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    font-size: 12px;
}

.btn-green-modal {
    width: 100%;
    background: #0003;
    border-radius: 50px;
    padding: 10px 0px;
    font-size: 14px;
    color: #fff;
    font-weight: 200;
    letter-spacing: 0.5px;
    margin-top: 20px;
}

.modal-form {
    margin-top: 20px;
}

.Green-modal .close {
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50px;
    font-weight: 200;
    color: #000 !important;
    opacity: 1 !important;
    position: absolute;
    right: 0;
    top: 0;
    margin: -15px -15px 0px 0px;
    box-shadow: 1px 1px 14px 5px #00000024;
}

.Green-modal .close span {
    color: #000;
}

.modal-wrapper {
    padding-top: 30px;
}

.modal-icon {
    width: 70px;
    height: 70px;
    background: #fff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 20px 5px #0000004f;
    position: absolute;
    top: 0;
    margin-top: -35px;
    left: 50%;
    margin-left: -35px;
}

.modal-icon i {
    color: #000;
    font-size: 20px;
}

.Green-modal .modal-dialog {
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}


/* login register */

.login-register,
.add-cart,
.product-details,
.Check-out {
    position: relative;
    overflow: hidden;
}

.main-grey {
    background: #1E1E20;
    padding: 150px 0px;
    height: 100%;
}

.main-grey form,.from-main-part
 {
    max-width: 60%;
    margin: auto;
}

.main-grey form .from-control,.from-main-part .from-control
 {
    border-radius: 50px;
    border: 0px;
    padding: 15px 20px;
    font-size: 15px;
    /* margin-bottom: 25px; */
    color: #fff;
    background: #a0a0a059;
}
.main-grey form .from-group {
    margin-bottom: 25px;
    text-align: left;
}
.profile .from-group {
    margin-bottom: 25px;
}
.main-grey form .from-group div {
    color: red;
    padding: 10px 0px 0px 20px;
}
.main-grey .frorgot-text a {
    text-align: center;
    color: #ffffff;
    margin: auto;
    border-bottom: 1px solid #70707042;
    padding-bottom: 5px;
    letter-spacing: 0.5px;
}

.frorgot-text {
    text-align: center;
    margin: 15px 0px;
}

.white-bg {
    background: #fff;
    border-radius: 50px;
    padding: 12px 60px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.main-grey form .from-control::placeholder,.from-main-part .from-control::placeholder
 {
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: 300;
}

.main-grey h1 {
    font-size: 25px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 600;
}

.main-white-bg {
    height: 100%;
}

.main-white-bg .main-grey {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 0px;
}

.main-white-bg .main-grey h1 {
    color: #1E1E20;
}

.main-white-bg .btn-transperent {
    background: transparent;
    border: 2px solid;
}

.main-grey img {
    max-width: 60%;
    padding: 10px 0px;
}

.wrapper-class {
    box-shadow: 1px 1px 20px 5px #0000004f;
}

.my-profile img {
    width: 200px;
    margin-bottom: 15px;
    height: 200px;
    border-radius: 50%;
    background: red;
    padding: 0px;
    max-width: unset;
}
.my-profile .white-bg {
    padding: 10px 30px !important;
}


/* add to cart page */

.add-cart table {
    width: 100%;
    max-width: 90%;
    margin: auto;
}

.add-cart table th {
    font-weight: 300;
    text-transform: capitalize;
    letter-spacing: 0.5px;
}

span.item-img {
    margin-right: 15px;
    display:inline-grid;
}

span.item-img img {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    max-width: 50px !important;
    height: 50px !important;
    padding: 0px;
}

td.cart-item-img {
    display: flex;
    align-items: center;
}

tr td {
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.5px;
}

tbody tr,
thead tr {
    border-bottom: 1px solid #ffffff30;
}

thead th {
    padding-bottom: 10px !important;
}

table th,
table td {
    padding: 15px;
}

.cart-remove i {
    width: 40px;
    height: 40px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: auto;
    cursor: pointer;
    color: #000;
}

.set-width {
    /* min-width: 110px; */
    text-align: center;
}

.Sub-total {
    font-size: 20px;
    font-weight: 500;
}

tr.total-prise {
    border: 0px;
}

.wrapper-table h1 {
    font-weight: 300;
    letter-spacing: 0.5px;
    text-align: left;
    padding: 0px 30px;
    margin-bottom: 50px;
}

.main-green-bg .main-grey,
.main-green-bg {
    height: 100%;
    background: #000000;
}

.main-green-bg .main-grey {
    padding: 40px 0px;
}

.main-green-bg .main-grey h1 {
    padding-bottom: 15px;
    border-bottom: 1px solid #ffffff6e;
    margin: 0px 30px 15px;
    padding: 0px 0px 10px;
    font-weight: 300;
    font-size: 20px;
    text-align: left;
}

.main-green-bg .main-grey ul {
    padding: 0px 30px;
}

.main-green-bg .main-grey ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px;
}

/* .main-green-bg .main-grey ul li .prise {
    font-size: 12px;
} */

.total-cost {
    border-top: 1px solid #ffffff52;
}

.cost {
    text-transform: uppercase;
    letter-spacing: 0.9px;
}

/* .cost-prise {
    font-size: 12px;
} */

.btn-grey.grey-bg {
    background: #1E1E20;
    color: #fff;
    width: 80%;
    border-radius: 50px;
    font-size: 15px;
    padding: 15px 0px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
}


/* checkout */

.Check-out h6 {
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 40px;
    letter-spacing: 1.5px;
}

.Check-out form {
    max-width: 90%;
}

.Check-out form input {
    background: transparent !important;
    border: 1px solid #ffffff3b !important;
    border-radius: 0px !important;
    color: #fff;
    padding: 10px !important;
    margin-bottom: 15px !important;
}

.form-group label {
    letter-spacing: 0.5px;
    font-size: 15px;
    font-weight: 200;
}

.form-group label sup {
    top: -4px;
    left: -2px;
    color: red;
}

.check-out-form .col-sm-12.col-lg-12 {
    padding: 0px;
}

.check-out-form .form-group {
    margin: 0px;
}

.check-out li {
    padding: 10px 0px !important;
    border-bottom: 1px solid #ffffff38;
}

.check-out li span.item {
    font-size: 14px;
    letter-spacing: 0.5px;
}

.check-out li.total-cost {
    border: 0px;
}


/* logout modal */

.modal-wrapper-btn .grey-btn-modal {
    border-radius: 50px;
    background: #fff;
    color: #000;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.5px;
    padding: 10px 50px;
    margin: 15px 5px 0px;
}

.modal-wrapper-btn {
    justify-content: center;
    display: flex;
}

.Toster-modal .modal-content {
    max-width: 360px;
    margin: auto;
}


/* add playlist-modal */

.play-list-modal .from-group {
    position: relative;
}

.play-list-modal .from-group .btn-green-modal {
    width: auto;
    padding: 13px 40px;
    position: absolute;
    top: 0;
    margin: 0;
    right: 0;
}

.play-list-modal .from-group .from-control {
    padding-right: 150px;
}

.playlist-box {
    padding: 10px;
    background: #0003;
    border-radius: 5px;
    text-align: left;
}

.playlist-box li a {
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 0.5px;
    color: black;
    font-weight: bold;
}

.playlist-box li {
    padding: 5px 15px;
}

.playlist-box ul {
    max-height: 170px;
    overflow: auto;
}

.playlist-box ul::-webkit-scrollbar-track {
    background-color: #373739;
}

.playlist-box ul::-webkit-scrollbar {
    width: 10px;
    background-color: #373739;
    opacity: 0;
}

.playlist-box ul::-webkit-scrollbar-thumb {
    background-color: #808080;
    opacity: 1;
}


/* sidebar mobile */

.siderbar-mobile,
.overlay {
    position: fixed;
    width: 0;
    height: 100%;
    background: #1E1E20;
    z-index: 11111;
    transition: 0.2s all;
    cursor: pointer;
    opacity: 0;
    top: 0;
    left: -100%;
}

header.wrapper-header {
    position: inherit;
}

.mobile-menu.active .siderbar-mobile {
    width: 70%;
    opacity: 1;
    left: 0;
}

.overlay {
    background: #0000006b !important;
    z-index: 1111 !important;
    opacity: 1;
    left: -100%;
}

.mobile-menu.active .overlay {
    width: 100%;
    left: 0px;
}

.mobile-link {
    padding: 50px 40px;
}

.mobile-link ul {
    margin-bottom: 20px;
    text-align: left;
}

.mobile-link ul li {
    padding: 10px 0px;
}

.mobile-link ul li a {
    color: #fff;
}

.close-menu {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-menu i {
    font-size: 20px;
}

.mobile-btn {
    display: none;
}


/* profile camera icon */

.camera {
    position: relative;
}

.camera i {
    color: #1E1E20;
    position: absolute;
    font-size: 16px;
    background-color: #fff;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
    bottom: 30px;
    overflow: hidden;
    box-shadow: 1px 1px 11px 6px #00000029;
    right: 20px;
}

.upload-profile {
    position: relative;
}

input#imgupload {
    position: absolute;
    left: 0;
    opacity: 0;
}


/* my order */

.order-table table {
    width: 100%;
    padding: 50px 0px;
}

.order-table table th {
    color: #00000073;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-align: center;
}

.order-table {
    padding: 40px 0px;
}

.order-table table thead {
    border-bottom: 2px solid #00000014;
}

.order-table table td {
    color: #000;
    text-align: center;
}

.order-table table td i {
    font-size: 25px;
    color: #000;
}
.logo {
    text-align: left;
}
.banner-slider img {
    width: 100%;
}
.logo-footer {
    text-align: center;
}
#app .btn-primary.disabled, #app .btn-primary:disabled {
    color: #fff;
    background-color: #ffe050;
    border-color: #ffe050;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    margin: 0px 15px;
    opacity: 1;
}
.modal {
    z-index: 1111;
}
.btn-green-modal {
    background: #fff;
    color: #000;
    font-weight: 500;
}
.video-section img {
    width: 100%;
}

.cart-check-out .main-grey {
    background: #fff;
}

.cart-check-out .main-grey h1 {
    color: #000;
    border-bottom: 1px solid #000;
}

.cart-check-out .main-grey ul li span {
    color: #000;
}

li.total-cost {
    border-top: 1px solid #000;
}
.view-all .section-btn,.about-sec .section-btn,.contact-us .section-btn {
    background: #1E1E20;
    color: #fff;
}
.number-of {
    color: #fff;
}
.VueCarousel-navigation {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
}

.VueCarousel-navigation button.VueCarousel-navigation-button.VueCarousel-navigation-next {
    transform: unset;
    font-size: 15px !important;
    width: 40px;
    height: 40px;
    background: #717173 !important;
    color: #FFF !important;
    right: 50px;
}

.VueCarousel-navigation button.VueCarousel-navigation-button.VueCarousel-navigation-prev {
    transform: unset;
    font-size: 15px !important;
    width: 40px;
    height: 40px;
    background: #717173 !important;
    color: #FFF !important;
    left: 50px;
}
.VueCarousel-pagination {
    position: absolute;
    bottom: 30px;
}

.VueCarousel-pagination .VueCarousel-dot-container {
    margin: 0px !important;
}

.VueCarousel-pagination .VueCarousel-dot-container button.VueCarousel-dot {
    margin: 0px !important;
}

.VueCarousel-pagination .VueCarousel-dot--active {
    width: 30px !important;
    height: 10px !important;
    border-radius: 40px !important;
    background-color: #717173 !important;
}

/* live video */
.live-video-wrapper img {
    width: 100%;
}


.live-chat-wrapper form {display: flex;align-items: center;justify-content: center;position: absolute;bottom: 0;padding: 10px;width: 100%;border-top: 1px solid #2f2f2f2e;background: black;left: 0;}

.live-chat-wrapper form .current-user-live img {width: 40px;height: 40px;border-radius: 50%;-o-object-fit: cover;object-fit: cover;margin-right: 5px;border: 1px solid #00000021;}

.live-chat-wrapper .form-group {margin: 0 5px 0 0;width: 100%;display: flex;align-items: center;}

.chat-wrapper-live::-webkit-scrollbar-track {
    background-color: transparent;
}

.chat-wrapper-live::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
    opacity: 0;
}

.chat-wrapper-live::-webkit-scrollbar-thumb {
    background-color: transparent;
    opacity: 1;
}

.form-group textarea.form-control {
    border-radius: 8px;
    opacity: 1;
    border: 0;
    color: #000;
    outline: 0px;
    width: 100%;
    height: 40px !important;
    resize: none;
    background: #e8e8e88a;
    font-size: 13px;
}

button.btn.btn-success {
    background: #1e1e20 !important;
    outline: 0px !important;
    font-size: 10px;
    border: 0px;
}
.chat-profile span img {
    height: 30px;
    width: 30px;
    border-radius: 50px;
    border: 1px solid #00000012;
    -o-object-fit: cover;
    object-fit: cover;
}
.message_class span.live-data.live-name {
    color: #ffe050;
    font-weight: 600;
    margin: 0px 5px;
}
.message_class span.live-data.live-message {
    background: 0 0;
    color: #000;
    word-break: break-all;
}
.live-data.live-name {
    color: #fff;
    text-transform: capitalize;
    font-size: 13px;
}

.white-back-chat .live-artist-data .live-message {
    padding: 0 0 0 5px;
    color: #fff;
    font-size: 11px;
    font-weight: 600;
}
.live-message {
    background: transperent;
    padding: 5px;
    border-radius: 5px;
}
.live-data {
    font-size: 12px;
    padding: 0px;
    max-width: 100%;
}
.white-back-chat .live-artist-data {
    display: flex;
    padding: 0 10px;
    align-items: center;
}
.live-data-content.message_class {
    margin: 15px 0px 0px;
}
.message_class .live-artist-data {
    background: transparent;
    text-align: left;
}
.live-chat-wrapper.white-back-chat {
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding-bottom: 60px;
    background: #ffffff;
    border-right: 1px solid #0000000f;
    box-shadow: 6px 4px 5px 1px #c3c3c30d;
    justify-content: center;
}

/* .live-chat-wrapper {
    width: 100%;
    height: 425px;
    overflow-x: hidden;
    overflow-y: auto;
} */
.desc-live {
    display: flex;
    padding: 50px 0px;
    text-align: left;
}
.video-title-description {
    width: 100%;
}
.live-tv-video.main-categoy h5 {
    margin: 10px 0px 5px !important;
}
.video-title-description h5 {
    line-height: unset;
    color: #fff;
    font-size: 35px;
    margin-bottom: 25px;
    font-weight: 700;
    margin: 0px;
}
.desc-live .sub-title p {
    color: #fff;
    font-size: 17px;
    font-weight: 400;
}
/* live radio */
.live-radio-back {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: blur(2px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    top: -97px;
}

.live-radio-wrapper .radion-div .img-radio img {
    width: 100%;
    max-width: 270px;
    max-height: 270px;
    border-radius: 20px;
    min-width: 30px;
    min-height: 30px;
    margin: 0px auto;
}
.push-play {
    width: 40px;
    margin: 0px auto;
}
.radio-title {
    margin: 15px auto !important;
    font-size: 20px;
    font-weight: 600;
    max-width: 180px;
}
.img-radio {
    /*display: flex;
    align-items: center;
    height: auto;
    flex-direction: column;
    margin: auto;
    width: 50%;
    padding: 200px 200px;
    background-image: url(../images/radio_bg.png);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    max-width: 555px;*/

    background-image: url("../images/radio_bg.png");
    background-size: 100% auto;
    /* padding: 100px; */
    height: 942px;
    max-width: 420px;
    margin: 50px auto;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
    padding-bottom: 15%;
    
}

.live-radio-back:before 
{/* content: ''; */
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    /* backdrop-filter: blur(172px); */}
    .live-radio-wrapper .radion-div {
       
        height: 100%;
        width: 100%;
        left: 0;
        display: flex;
        align-items: center;
        background: #000000a3;
    }
    .radio-title {
        margin: 15px 0px;
        font-size: 20px;
        font-weight: 600;
    }

    body.swal2-toast-shown .swal2-container.swal2-top-end, body.swal2-toast-shown .swal2-container.swal2-top-right {
        top: 0;
        right: 0;
        bottom: auto;
        left: auto;
        z-index: 111111;
    }
    .checkout-page form {
        max-width: 100%;
        display: flex;
        width: 100%;
    }
    .checkout-page h6 {
        text-align: left;
    }
    
    .checkout-page .form-group {
        text-align: left;
    }
    
    .checkout-page  .check-out-form {
        margin: auto;
        padding: 0px 30px;
    }
    .checkout-page .main-green-bg .main-grey ul li {
        border-bottom: 1px solid #0000001c;
    }
    .image-table img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
        object-position: top;
    }
    .add-cart .number-of {
        color: #fff;
        margin: 40px 0px 0px;
    }
    
    
    
    .add-cart .number-of button.btn.btn-primary.btn-sm {
        background: #fff !important;
        color: #000 !important;
    }
    /* custom setting */
    .about-box .greay-box img {
        max-height: 100%;
        margin: auto;
        max-width: 84%;
    }
    
    .about-box .greay-box {
        align-items: center;
    }
    .details-box .loader-dynamic img {
        object-fit: scale-down;
        background: #000;
    }
    .liveradio {
        position: relative;
    }
    .carddetailsmodal .from-group {
        margin: 0 !important;
    }
    .from-group label {
        text-align: left !important;
        display: block;
    }
    .month-wrapper {
        display: flex;
    }
    
    .month-wrapper input.from-control {
        margin: 0px 2px;
    }
    .video-section, .banner-slider {
        max-width: 1366px;
        margin: auto;
    }
    /* .music-section {
        margin-top: 100px;
    } */
    .playlist .loader-dynamic img {
        object-fit: fill;
    }
    #player {
        bottom: 0 !important;
        position: fixed !important;
        z-index: 99999 !important;
    }
    #oframeplayer {
        background-color: rgb(30 30 32) !important;
    }
    #oframeplayer pjsdiv:nth-child(9) {
        top: 0 !important;
    }
    .audioplayer-playlist {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 70px;
        min-height: 50px;
        background: black;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 111;
    }
    /* playlist */

.audio-player .modal-dialog.modal-dialog-centered {
    max-width: 600px;
}
.audio-player ul {
    min-height: auto;
    background: #3737384f;
    max-height: 262px;
    padding: 10px 20px;
}

.audio-player .playlist-box.mt-4 {
    background: unset;
    padding: 0px;
}

.playlist-song-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}

.song-poster {
    display: flex;
    align-items: center;
    border-radius: 50px;
    overflow: hidden;
    margin-right: 15px;
}

.song-poster img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    background-image: #000;
}

.playlist-image-wrapper {
    display: flex;
    align-items: center;
}

.audio-player ul li {
    padding: 0px;
    border-bottom: 1px solid #80808047;

}

.audio-player .modal-title {
    text-align: left;
}

.audio-player h3 {
    font-weight: 500;
}
.audio-player .modal-wrapper {
    padding: 0px;
}
.audio-player ul li:last-child {
    border: 0px;
}
.same-space strong {
    color: black;
}
.logo-footer img {
    max-width: 150px;
}
.bg-grey .title-section {
    color: #fff;
}
footer.bg-grey {
    border-top: 1px solid #ffffff14;
    padding: 30px 0px 0px;
}
.social-media li:last-child .icon {
    margin: 0px;
}
.nodata {
    background: #000;
    padding: 100px 0px;
    border-radius: 20px;
    max-width: 50%;
    margin: auto;
}

.nodata h1 {
    font-size: 30px;
    font-weight: 100;
}
.chat-wrapper-live {
    height: 425px;
    overflow-x: hidden;
    overflow-y: auto;
}
/* .sponsor-banner img {
    width: 100%;
} */
.top-spacing {
    padding-top: 0px;
    overflow: hidden;
}
.sponsor-banner .VueCarousel-pagination {
    display: none;
}
.live-video-wrapper video {
    object-fit: cover;
}
.live-data-content:last-child {
    margin-bottom: 10px;
}
.min-height {
    min-height: 90vh;
    /*background: #1e1e20;*/
}
.contactus {
    background: #fff;
}
.grid_wrap{
display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}

.grid-box{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    position: relative;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
  }
  img.lay_img {
    position: absolute;
    width: 100%;
    z-index: 9999;
    opacity: 0.1;
    top: 0;
    right: 0;
}