@media (max-width:1023px) and (min-width:768px) {
    .theme-dark .row {
        flex-wrap: inherit;
    }
    .theme-dark .row .nav-link.header-link {
        display: none;
    }
    .theme-dark .mobile-btn {
        display: flex;
    }
    .theme-dark .mobile-menu.active .siderbar-mobile {
        width: 70%;
    }
    .video-section img {
        height: 430px;
    }
    body .grren-box {
        width: 210px;
    }
    body .greay-box {
        min-height: 330px;
    }
    body .pattern {
        display: none;
    }
    body .greay-box:before {
        display: none;
    }
    body .content-wrapper {
        padding: 0px;
    }
    body .title-section {
        padding: 0px;
    }
    body .same-space {
        padding: 70px 0px;
    }
    body .contact-us .content-wrapper {
        padding: 0px;
    }
    .contact-us .content-wrapper {
        padding: 0px;
    }
    body .contact-us .greay-box {
        min-height: 400px;
    }
    body .contact-us .greay-box .contact-us-wrapper {
        padding: 0px 40px;
    }
    body .contact-us .greay-box .contact-us-wrapper a {
        padding: 10px 0pz;
    }
    body .form-group {
        margin: 10px 0px;
    }
    body .mobile-menu.active .siderbar-mobile {
        width: 40%;
        opacity: 1;
    }
    body table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
    body .Green-modal .modal-dialog {
        height: auto;
        margin: 50px auto;
    }
    .wrapper-class .main-grey {
        padding: 50px 0px !important;
    }
    .wrapper-class .main-grey form {
        max-width: 90%;
    }
    .wrapper-class .main-grey form .frorgot-text {
        margin: 0px;
    }
    body .gride-container {
        grid-template-columns: 1fr 1fr 1fr ;
        padding: 30px 0px;
    }
    body .main-white-bg {
        text-align: center;
    }
    body .main-white-bg .main-grey h1 {
        color: #1E1E20;
        font-size: 20px;
    }
    pjsdiv#player_control_volume-sikbar {
        display: none;
    }
    
    pjsdiv#player_control_volume-icon {
        display: none;
    }
    
    pjsdiv#player_control_suffle-icon {
        display: none;
    }
    
    pjsdiv#player_control_repeat-icon {
        display: none;
    }
 
  
      #oframeplayer pjsdiv:nth-child(10) {
            top: 0 !important;
        }
        #oframeplayer pjsdiv#player_control_play-icon {
            top: 25px !important;
        }
   

    #playlistSongModal .modal-content {
        margin: 10px;
    }
    
    #playlistSongModal .modal-content .song-poster img {
        width: 40px;
        height: 40px;
    }
    
    #playlistSongModal .modal-content .playlistsong-button a {padding: 10px 25px;color: #000 !important;opacity: 1;font-weight: 600;}
    
    #playlistSongModal  span.song-name {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        max-width: 100px;
    }
    pjsdiv#player_control_song-info_text {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        max-width: 180px !important;
        white-space: unset !important;
        width: 100px !important;
    }
    div#player {
        width: 91% !important;
    }
    pjsdiv#player_control_play-icon {
        left: 50% !important;
    }
    
    pjsdiv#player_control_next-icon {
        left: 55% !important;
    }
    
    pjsdiv#player_control_privacy-icon {
        left: 45% !important;
    }
    
    pjsdiv#player_control_time {
        left: 70% !important;
    }
    body .live-chat-wrapper {
        /* width: 100%; */
        height:220px;
    }
    section#contact-us {
        padding: 101px 0px 0px;
        overflow: hidden;
    }
    
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    body .header-link li a {
        margin-right: 17px;
    }
    #playlistSongModal .modal-content {
        margin: 10px;
    }
    
    #playlistSongModal .modal-content .song-poster img {
        max-width: 45px;
    }
    
    #playlistSongModal .modal-content .playlistsong-button a {padding: 10px 25px;color: #000 !important;opacity: 1;font-weight: 600;}
    
    #playlistSongModal  span.song-name {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        max-width: 100px;
    }
    pjsdiv#player_control_song-info_text {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        max-width: 180px !important;
        white-space: unset !important;
        width: 100px !important;
    }
    div#player {
        width: 94% !important;
    }
    pjsdiv#player_control_play-icon {
        left: 50% !important;
    }
    
    pjsdiv#player_control_next-icon {
        left: 55% !important;
    }
    
    pjsdiv#player_control_privacy-icon {
        left: 45% !important;
    }
    
    pjsdiv#player_control_time {
        left: 70% !important;
    }
      #oframeplayer pjsdiv:nth-child(10) {
            top: 0 !important;
        }
        #oframeplayer pjsdiv#player_control_play-icon {
            top: 25px !important;
        }
        body .live-chat-wrapper {
            /* width: 100%; */
            height: 335px;
        }
        
}