<template>
	<section class="Daily-shows bg-grey ">
		
        <div>this is demo</div>
    </section>
</template>
<script>
	export default {
		name: "DailyShows",
        props: ['dailyShows']
	}
</script>